body {
    background-color: beige;
}

/* table is for all the Cards */
#table {
    display: flex;

}

/* property of all CARDS */
/* height set to be 1.6 times larger than width */
/* width/height set to be responsive for bigger screens, 
    with a minimum size on smaller screens
    may revisit later */
.card {
    border: 1px solid black;
    border-radius: 10px;
    min-width: 200px;
    min-height: 320px;
    width: 10vmax;
    height: 16vmax;
    margin: 2vmax;
    display: flex;
    justify-content: center;

}

/* property of CARDS facing DOWN */
.face-down {
    background-color: #F8CCC8;
}

.face-down > .card-inner {
    background-color: red;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
}

.face-down > .card-inner > .content {
    opacity: 0;
}

/* property of CARDS facing UP */
.face-up {
    background-color: lightyellow;
}

.face-up > .card-inner {
    align-self: center;
    font-size: 50px;
}
